.right {
    .content-div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
    }
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 0em 4em 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 32px;
    h2 {
        font-size: 1.25rem;
        font-family: 'Oswald', sans-serif;
    }
    h3 {
        font-size: 1.115rem;
    }
    h4 {
        font-weight: 500;
    }
    .referance {
        h4 {
            font-weight: 600;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .work-experience {
        h4 {
            font-weight: 600;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
        .content-div {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }
    .awards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
